body {
  margin: 0;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
}
#navbar {
  position: fixed;
  top: 0px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: deepskyblue;
}
#navbar a {
  text-decoration: none;
  display: block;
  padding: 1em;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}
#navbar a:hover {
  background: #00abe5;
}

main {
  display: grid;
  grid-template-rows: 100vh auto auto 200px;
}

#welcome-section {
  text-align: center;
  background: lightgray;
  padding-top: 45vh;
}
#welcome-section h1 {
  font-size: 2em;
}
#welcome-section p {
  font-size: 2em;
}

#projects {
  text-align: center;
  background: white;
}

#profile {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  background: lightgray;
  justify-items: center;
}
#profile > p {
  font-size: 1.5em;
}
.container {
  /* border: 2px solid red; */
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin: 30px;
}
#skills {
  padding: 10px 32px 10px 20px;
  text-align: justify;
  line-height: 1.5;
  background: rgb(250, 162, 179);
  box-shadow: 10px 10px 10px gray;
}
#ProfessionalExperience {
  padding: 10px 33px 10px 20px;
  text-align: justify;
  line-height: 1.5;
  background: rgb(143, 216, 100);
  box-shadow: 10px 10px 10px gray;
}
#PersonalityHighlights {
  padding: 10px 32px 10px 20px;
  text-align: start;
  line-height: 1.5;
  background: rgb(90 222 204 / 93%);
  box-shadow: 10px 10px 10px gray;
}
#profile-link {
  text-align: center;
  background: deepskyblue;
  padding: 1em;
  /* display: grid;
  grid-template-columns: 1fr; */
  justify-items: center;
}

.tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}
.responsive {
  max-width: 100%;
  height: auto;
}
.project-tile {
  background: white;
  padding: 2em;
}
.project-tile a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1em;
}

@media all and (max-width: 800px) {
  #navbar {
    justify-content: space-around;
  }
  .tiles {
    grid-template-columns: 1fr 1fr;
  }
  .container {
    grid-template-columns: 1fr;
  }
}
@media all and (max-width: 600px) {
  #navbar {
    flex-flow: column wrap;
    padding: 0;
  }
  #navbar a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  #navbar a:last-of-type {
    border-bottom: none;
  }
  .tiles {
    grid-template-columns: 1fr;
  }
}
